/* Included in both login and register */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: black;
    font-family: "Lato", sans-serif;
    display: flex;
    align-items: center;
    color: #faf8f8;
    justify-content: center;
  }
  
  h2 {
    font-size: 50px;
    text-align: center;
    color: #faf8f8;
  }

.tagline {
    text-align: center;
}

.welcome-login {
    margin-top: 1vh;
    font-size: 25px;
    letter-spacing: 1px;
}

input {
    color: whitesmoke;
}

/* Login Page only */
.registermsg {
    margin-top: 2vh;
    margin-left: 2px;
}





